@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.white {
  color: #fff;
}
.gray {
  color: gray;
}
.green {
  color: #0f0;
}


/* ==================== */

@media screen and (max-width: 400px) {
  .name-input {
    width: 100px;
    font-size: 20px;
  }

  .reset-btn {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    width: 130px;
    height: 30px;
    transition: all .5s;
  }

  .editor-wrapper {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .wish {
    font-size: 20px;
    line-height: 20px;
  }



  .date-time {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {

  .name-input {
    width: 140px;
    font-size: 25px;
  }

  .reset-btn {
    display: flex;
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
    width: 140px;
    height: 35px;
    transition: all .5s;
  }

  .editor-wrapper {
    font-size: 25px;
    padding-bottom: 25px;
  }

  .wish {
    font-size: 25px;
    line-height: 25px;
  }

  .timer {
    font-size: 25px;
    line-height: 25px;
    min-width: 130px;
  }

  .date-time {
    font-size: 25px;
    line-height: 25px;
  }

  .quotes-collection-option {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .app-name {
    display: none;
  }

  .name-input {
    width: 200px;
    font-size: 25px;
  }

  .reset-btn {
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    transition: all .5s;
  }

  .editor-wrapper {
    font-size: 25px;
    padding-bottom: 25px;
  }

  .wish {
    font-size: 30px;
    line-height: 30px;
  }

  .timer {
    font-size: 30px;
    line-height: 30px;
    min-width: 210px;
  }

  .date-time {
    font-size: 30px;
    line-height: 30px;
  }
} 